<?xml version="1.0"?>
<!--
/**
 * Sendsmaily Sync
 * Export Magento newsletter subscribers to Sendsmaily
 * Copyright (C) 2010 Sendsmaily
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<config>
  <modules>
    <Sendsmaily_Sync>
      <version>2.0.1</version>
    </Sendsmaily_Sync>
  </modules>

  <frontend>
    <events>
      <newsletter_subscriber_save_after>
        <observers>
          <smaily_new_subscriber_action>
            <class>sync/observer</class>
            <method>newsletterOptInSubscribe</method>
          </smaily_new_subscriber_action>
        </observers>
      </newsletter_subscriber_save_after>
    </events>

    <layout>
      <updates>
        <sync module="Sendsmaily_Sync">
          <file>sendsmaily_sync.xml</file>
        </sync>
      </updates>
    </layout>

    <routers>
      <sync>
        <use>standard</use>
        <args>
          <module>Sendsmaily_Sync</module>
          <frontName>sendsmaily</frontName>
        </args>
      </sync>
    </routers>
  </frontend>

  <global>
    <models>
      <sync>
        <class>Sendsmaily_Sync_Model</class>
      </sync>
    </models>

    <blocks>
      <sync>
        <class>Sendsmaily_Sync_Block</class>
      </sync>

      <adminhtml>
        <rewrite>
          <newsletter_subscriber_grid>Sendsmaily_Sync_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
        </rewrite>
      </adminhtml>
    </blocks>

    <helpers>
      <sync>
        <class>Sendsmaily_Sync_Helper</class>
      </sync>
    </helpers>
  </global>

  <default>
    <newsletter>
      <sendsmaily>
        <sync_period>0 */4 * * *</sync_period>
      </sendsmaily>
    </newsletter>
  </default>

  <crontab>
    <jobs>
      <sendsmaily_sync>
        <schedule><config_path>newsletter/sendsmaily/sync_period</config_path></schedule>
        <run><model>sync/cron::customerSync</model></run>
      </sendsmaily_sync>
    </jobs>
  </crontab>

  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <sendsmaily_sync before="Mage_Adminhtml">Sendsmaily_Sync</sendsmaily_sync>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>

  <adminhtml>
    <translate>
      <modules>
        <Sendsmaily_Sync>
          <files>
            <default>Sendsmaily_Sync.csv</default>
          </files>
        </Sendsmaily_Sync>
      </modules>
    </translate>
  </adminhtml>
</config>
