<?xml version="1.0"?>
<!--
/**
 * Sendsmaily Sync
 * Export Magento newsletter subscribers to Sendsmaily
 * Copyright (C) 2010 Sendsmaily
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<config>
  <sections>
    <newsletter>
      <groups>
        <sendsmaily translate="label comment">
          <label>Smaily Email Marketing And Automation</label>
          <frontend_type>text</frontend_type>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>
          <comment><![CDATA[<strong>Please fill out credentials to enable this module.</strong><br />You can create Smaily account at our website<a href=https://smaily.com target=_blank>Welcome to Smaily!</a>]]></comment>

          <fields>
            <credentials_section translate="label">
              <label>General settings</label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </credentials_section>

            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <backend_model>sync/system_config_backend_validate</backend_model>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </active>

            <domain translate="label comment">
              <label>Subdomain</label>
              <frontend_type>text</frontend_type>
              <backend_model>sync/system_config_backend_domain</backend_model>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <comment><![CDATA[For example &quot;demo&quot; from https://<strong>demo</strong>.sendsmaily.net/]]></comment>
              <validate>required-entry</validate>
            </domain>

            <username translate="label comment">
              <label>Username</label>
              <frontend_type>text</frontend_type>
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <validate>required-entry</validate>
            </username>

            <password translate="label comment">
              <label>Password</label>
              <frontend_type>password</frontend_type>
              <sort_order>14</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <comment><![CDATA[<a href=http://help.smaily.com/en/support/solutions/articles/16000062943-create-api-user target=_blank>How to create API credentials?</a>]]></comment>
              <validate>required-entry</validate>
            </password>

            <synchronization_section translate="label">
              <label>Customer synchronization</label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </synchronization_section>

            <active_sync translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </active_sync>

            <fields translate="label">
              <label>Additional data</label>
              <comment>Select fields you wish to synchronize along with subscription data</comment>
              <frontend_type>multiselect</frontend_type>
              <source_model>sync/system_config_source_customer_fields</source_model>
              <sort_order>23</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <depends>
                <active_sync>1</active_sync>
              </depends>
            </fields>

            <sync_period translate="label comment">
              <label>How often do you want to synchronize?</label>
              <frontend_type>select</frontend_type>
              <source_model>sync/system_config_source_customer_schedule</source_model>
              <sort_order>24</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <depends>
                <active_sync>1</active_sync>
              </depends>
            </sync_period>

            <newsletter_form_section translate="label">
              <label>Newsletter subscription form</label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </newsletter_form_section>

            <active_newsletter_form translate="label comment">
              <label>Enabled</label>
              <comment><![CDATA[Send a welcome email after subscriber has joined from the subscription form. Learn more from our <a href=http://help.smaily.com/en/support/solutions/articles/16000092458-creating-automation-workflows#a4 target=_blank>tutorial.</a>]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>41</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </active_newsletter_form>

            <active_captcha translate="label comment">
              <label>Enable CAPTCHA</label>
              <comment><![CDATA[We strongly advice you to use CAPTCHA to keep bots from polluting subscribers list.<a href=https://www.google.com/recaptcha/admin/create target=_blank>You can create googles reCAPTCHA api keys here.</a>]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>42</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </active_captcha>

            <recaptcha_site_key translate="label">
              <label>ReCaptcha site key</label>
              <frontend_type>text</frontend_type>
              <sort_order>43</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <validate>required-entry</validate>
              <depends>
                <active_newsletter_form>1</active_newsletter_form>
                <active_captcha>1</active_captcha>
              </depends>
            </recaptcha_site_key>

            <recaptcha_secret_key translate="label">
              <label>ReCaptcha secret key</label>
              <frontend_type>text</frontend_type>
              <sort_order>44</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <validate>required-entry</validate>
              <depends>
                <active_newsletter_form>1</active_newsletter_form>
                <active_captcha>1</active_captcha>
              </depends>
            </recaptcha_secret_key>

          </fields>
        </sendsmaily>
      </groups>
    </newsletter>
  </sections>
</config>
