<?xml version="1.0"?>
<config>
	<modules>
		<Sendsmaily_Subscribe>
			<version>0.2</version>
		</Sendsmaily_Subscribe>
	</modules>
	
	<global>
		<rewrite>
			<subscribe_newsletter_subscriber_exportsendsmaily>
				<from><![CDATA[#^/admin/newsletter_subscriber/exportSendsmaily#]]></from>
				<to>/subscribe/index/export</to>
			</subscribe_newsletter_subscriber_exportsendsmaily>
		</rewrite>
		
		<models>
			<subscribe>
				<class>Sendsmaily_Subscribe_Model</class>
			</subscribe>
		</models>
		
		<blocks>
			<adminhtml>
				<rewrite>
					<newsletter_subscriber_grid>Sendsmaily_Subscribe_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		
		<helpers>
			<subscribe>
				<class>Sendsmaily_Subscribe_Helper</class>
			</subscribe>
		</helpers>
	</global>
	
	<admin>
		<routers>
			<subscribe>
				<use>admin</use>
				<args>
					<module>Sendsmaily_Subscribe</module>
					<frontName>subscribe</frontName>
				</args>
			</subscribe>
		</routers>
		
		<translate>
			<modules>
				<Sendsmaily_Subscribe>
					<files>
						<default>Sendsmaily_Subscribe.csv</default>
					</files>
				</Sendsmaily_Subscribe>
			</modules>
		</translate>
	</admin>
</config>